// color

$color-yellow: #fcb72b;
$color-rgba: rgba(252, 183, 43, 0.15);
$color-dark: #495567;
$color-grey: #939caa;
$color-lightgrey: #e5ecf4;
$color-snow: #f2f5f9;
$color-lightyellow: #fff4df;
$body-color: #f2f2f2;
$sidebar-color: #333a44;
$color-white: #fff;
$color-accor: #dee8f7;

// fonts

$space-mono: "Space Mono", "Arial", sans-serif;
$lexend-deca: "Lexend Deca", "Arial", sans-serif;
