.logo-img {
  @include responsive(tablet) {
    width: 100%;
    @include flex;
    justify-content: center;
    margin-bottom: 1rem;
  }
}
.navbar {
  width: 100%;
  @include flex;

  &__list {
    @include flex;
    gap: 3.2rem;
    a:hover {
      color: $color-yellow;
    }
  }
}
