h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $space-mono;
  font-weight: 700;
  color: $color-dark;
}
h1 {
  font-size: 5.6rem;
  line-height: 1;
  letter-spacing: -2.5px;
}
h2 {
  font-size: 4.8rem;
  line-height: 1;
  letter-spacing: -2.14px;
}
h3 {
  font-size: 4rem;
  line-height: 1.2;
  letter-spacing: -1.79px;
}
h4 {
  font-size: 2.4rem;
  line-height: 1.17;
  letter-spacing: -1.07px;
}
a {
  font-family: $space-mono;
  font-weight: 700;
  line-height: 1.67;
  color: $color-grey;
}
